body {
  font-family: helvetica, 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  padding: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}


#about-me {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 20px 0;
}

.profile-image {
  width: 200px;
  height: auto;
  margin-right: 20px;
  margin: 20px
}



#projects {
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

h2, h3 {
  margin: 20px;
  padding-bottom: 20px;
}

.project img {
  max-width: 100%; 
  height: auto;
  width: 600px; 
}



#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  text-align: left;
}

.projectgrid > div {
  width: 100%; 
  margin-bottom: 20px;
}

.projectgrid h3 {
  margin: 10px 0;
}

.projectgrid img {
  max-width: 100%;
  height: auto;
}




#skills {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.flexContainer {
  width: 30%; 
  margin: 10px; 
  padding: 20px; 
  box-sizing: border-box; 
}

.flexContainer img {
  max-width: 100%;
  height: auto;
}


footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
}

footer nav {
  margin-top: 0;
}

footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #333;
}




@media only screen and (max-width: 600px) {
  
  #about-me,
  #skills {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .profile-image {
    width: 100%; 
    max-width: 200px; 
    margin: 20px; 
  }

  #about-me {
    max-width: 100%; 
    margin: 20px;
  }

  .flexContainer {
    width: 100%;
    margin: 10px 0; 
    padding: 20px; 
  }

  
  #projects {
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
  }
}





